.asm-users {}
.asm-users table {
    border: none;
    font-size: 12px;
    width: 100%;
}
.asm-users table tr td {
    vertical-align: middle;
}
.asm-users table tr:not(:last-child) td {
    border-bottom: 1px solid #e5e5e5;
}
.asm-users .asm-wrap {
    display: table;
    position: relative;
    width: 100%;
}
.asm-wrap .asm-avatar,
.asm-wrap .asm-info {
    display: table-cell;
    vertical-align: middle;
}
.asm-wrap .asm-info {
    width: 100%;
    padding-left: 10px;
}
.asm-wrap .asm-avatar {
    vertical-align: top;
    position: relative;
}
.asm-avatar .asm-status {
    position: absolute;
    top: -4px;
    right: -4px;
    z-index: 9;
}
.asm-avatar img {
    border: 1px solid #c3c4c7;
    float: left;
}
.asm-info .asm-header {
    margin: 0 ;
}
.asm-header .asm-online-status {
    margin-bottom: 4px;
}
.asm-info .asm-name,
.asm-info .asm-date,
.asm-info .asm-seperator {
    font-weight: 600;
    color: #888;
    display: block;
}
.asm-info .dashicons,
.asm-info .dashicons-before:before {
    height: 16px;
    width: 16px;
    font-size: 16px;
    vertical-align: text-top;
}
.asm-info .asm-user-email .dashicons,
.asm-info .asm-user-email .dashicons-before:before {
    vertical-align: text-bottom;
}
.asm-actions a {
    display: block !important;
    text-align: center;
}
.asm-actions a:not(:last-child) {
    margin-bottom: 5px;
}
.asm-users .asm-online-status > strong {
    color: #fff;
    line-height: 1;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 5px !important;
}
.asm-wrap .asm-actions {}
.asm-actions .asm-buttons {
    text-align: right;
}

/* loader */
.asm-loader {
    display: flex;
    padding: 16px 8px;
    flex-direction: column;
    align-items: center;
}
.asm-loader .asm-loader-text {
    font-weight: 500;
    margin-top: 14px;
    color: #0D314A;
}

.asm-status {
    display: inline-block;
    vertical-align: 1px;
    width: 12px;
    height: 12px;
    background: #00a32a;
    color: transparent;
    border-radius: 100%;
    flex: 0 0 auto;
}
.asm-status.asm-red {
    background: #d63638;
}
.asm-status.asm-orange {
    background: #ff9900;
}
.asm-status.asm-green {
    background: #00a32a;
}
.asm-pulse {
    position: relative;
    display: inline-block;
    vertical-align: 1px;
    width: 16px;
    height: 16px;
    background: #00a32a;
    color: transparent;
    border-radius: 100%;
    flex: 0 0 auto;
    animation: opacity-animation 1s linear;
}
.asm-pulse:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(42, 178, 122, 1);
    border-radius: 100%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(2);
    animation: pulse-animation 3s infinite;
}
.asm-pulse.asm-red,
.asm-online-status .less-than-day,
.asm-online-status .less-than-week,
.asm-online-status .less-than-month,
.asm-online-status .less-than-year,
.asm-online-status .more-than-year {
    background: #d63638;
}
.asm-pulse.asm-orange,
.asm-online-status .less-than-hour {
    background: #ff9900;
}
.asm-pulse.asm-green,
.asm-online-status .just-now {
    background: #00a32a;
}
.asm-button {
    line-height: 1 !important;
    min-height: 26px !important;
    padding: 2px 10px !important;
}
.asm-button .dashicons,
.asm-button .dashicons-before:before{
    transition: none;
}
.asm-button.reset {
    background: #d63638 !important;
    color: #fff;
    text-decoration: none;
    border-color: #d63638;
    box-shadow: none;
    background: 0 0;
}
.asm-button.reset:hover,
.asm-button.reset:active,
.asm-button.reset:focus {
    background: #c92d2f !important;
    color: #fff;
    border-color: #c92d2f;
    box-shadow: none;
}

#asm-sync {
    text-align: center;
    animation: fade-animation 3s infinite;
    margin: 0 0 10px;
}
.asm-rotate {
    animation: rotate-animation 2s linear infinite;
}
/* confirm dialog */
.asm-confirm-dialog {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.asm-confirm-dialog .asm-message-wrap {
    margin-bottom: 15px;
}
.asm-confirm-dialog .asm-actions-wrap {
    float: right;
}
.asm-confirm-dialog .asm-actions-wrap button:not(:last-child) {
    margin-right: 5px;
}
/* pulse animation */
@keyframes opacity-animation {
    0% {
        opacity: 0;
    }
}
@keyframes fade-animation {
    0%,100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@keyframes pulse-animation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.8;
    }
    70% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(3);
    }
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}